<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <base href="./">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>

    <script type="text/javascript" src="jquery.cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">

    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 推荐使用：axios HTTP Client 网络通信的函数库 -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Champion_Go</title>


    <style>



        footer {
      		bottom: 0;
      		padding: 2em 0;
      		text-align: center;
      		background-color: #ffc0cb;
      		color: #fff;
      		width: 100%;
      		clear: both;
            position: absolute
    	}

        body{
            background:url("./img/userbackground.jpg") no-repeat;
            background-size: 100%;
}
        
		</style>
</head>

<body>
    <div class="container" id="user">
        <div class="jumbotron">
            <h1 class="display-3">个人信息</h1>
            <p class="lead"></p>
            <hr class="my-2">

            <ul class="list-group list-group-flush">
                <li class="list-group-item">姓名:&nbsp;&nbsp;{{name}}</li>
                <li class="list-group-item">性别:&nbsp;&nbsp;{{sex}}</li>
                <li class="list-group-item">电话:&nbsp;&nbsp;{{phone}}</li>
                <li class="list-group-item">邮箱:&nbsp;&nbsp;{{email}}</li>
                <li class="list-group-item">收货地址:&nbsp;&nbsp;{{address}}</li>
            </ul>

            <p class="lead">

                <button type="button" class="btn btn-danger mt-3" data-toggle="modal" data-target="#exampleModal">修改信息</button>
                <a name="" id="" class="btn btn-primary btn-bg mt-3" href="http://localhost:8080/" role="button">返回</a>
            </p>


            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <form action="/changeUserInfo" method="POST">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputName">姓名</label>
                                        <input type="text" class="form-control" id="inputName" name="user_name" placeholder="name"
                                            v-model="name">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputPassword4">性别</label>
                                        <input type="text" class="form-control" id="sex" placeholder="sex" name="user_sex"
                                            v-model="sex">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPhone">电话</label>
                                    <input type="text" class="form-control" id="inputPhone" placeholder="phone" name="user_phone"
                                        v-model="phone">
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail">邮箱</label>
                                    <input type="text" class="form-control" id="inputEmail" placeholder="email" name="user_email"
                                        v-model="address">
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress">地址</label>
                                    <input type="text" class="form-control" id="inputAddress" placeholder="address"
                                        name="user_email" v-model="email">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                            <button type="submit" @click="submit()" class="btn btn-primary">Submit</button>
                            <!-- <button type="submit" class="btn btn-primary">保存</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>Copyright (c) 2018 404NOTFounD All Rights Reserved.</footer>



    <script>
        let userName = $.cookie('user');
        console.log(userName);
        let vm = new Vue({
            el: "#user",
            data: {
                name: "1",
                sex: "2",
                phone: "3",
                email: "",
                address: "",
                pic: "",
                id: 0
            },
            mounted() {

                // axios.get(url, {
                //     params: {
                //         id:paramId
                //     }
                // })
                // .then(function (response) {
                // })
                // .catch(function (error) {
                // })

                axios.get("/user/info",{
                    params: {
                        "name": userName
                    }
                })
                .then((r) => {
                    this.name = r.data.user_name;
                    this.sex = r.data.user_sex;
                    this.phone = r.data.user_phone;
                    this.email = r.data.user_email;
                    this.address = r.data.user_address;
                    this.id = r.data.user_id;
                    this.pic = r.data.user_pic;
                })
                .catch((error) =>{
                    console.log(error);
                })
            },
            methods: {
                submit: function(){
                    axios.post('/changeUserInfo', {
                        user_name: this.name,
                        user_sex: this.sex,
                        user_phone: this.phone,
                        user_email: this.email,
                        user_address: this.address,
                        user_id: this.id,
                        // user_pic: this.pic
                    })
                    .then((r) => {
                        console.log('提交了吗？');
                        let msg = r.data.msg;
                        alert(msg);
                        window.location("http://localhost:8080/user");
                    })
                    .catch(() => {

                    })


                }
            }
        })
    </script>

</body>

</html>